.content-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .nowrap-text {
    display: block;
    max-width: 75vw;
    max-height: 1.5rem;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
  }
}

capacitor-google-map {
  display: inline-block;
  width: 85vw;
  height: 50vh;
}




