.content-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .nowrap-text {
    display: block;
    max-width: 75vw;
    max-height: 1rem;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
  }

}




