<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon aria-hidden="true" name="card-outline"></ion-icon>
      <ion-label>Karty</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="maps">
      <ion-icon aria-hidden="true" name="map-outline"></ion-icon>
      <ion-label>Mapa</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon aria-hidden="true" name="person-outline"></ion-icon>
      <ion-label>Ustawienia</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>