<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Moje karty
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-button (click)="showAddCardForm()">Add Card Form</ion-button>

  <ion-card *ngFor="let card of cards">
    <!--    <ion-card-header>-->
    <!--      <div class="header">-->
    <!--        <div id="deleteIcon">-->
    <!--          <ion-icon name="close-circle-outline" (click)="remove(card.id)"></ion-icon>-->
    <!--        </div>-->
    <h1 class="ion-margin-horizontal ion-text-capitalize">{{card.shopName}}</h1>
    <!--      </div>-->

    <!--    </ion-card-header>-->
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-row>
              <ion-label>
                <h2>Lokalizacja sklepu</h2>
                <h2 class="ion-text-capitalize">{{card.shopLocalization || ''}}</h2>
              </ion-label>
            </ion-row>
            <br/>
            <ion-row>
              <ion-label>
                <h2>Wartość barcodu</h2>
                <h2 class="ion-text-capitalize">{{card.barcode || ''}}</h2>
              </ion-label>
            </ion-row>
<!--              <h2 class="ion-text-capitalize">{{card.barcode || ''}}</h2>-->
<!--              <ion-input label="Nazwa sklepu" labelPlacement="stacked" fill="outline" [disabled]="true" value="{{card.barcode || ''}}"></ion-input>-->

<!--              <ion-input label="Lokalizacja sklepu" labelPlacement="stacked" fill="outline" [disabled]="true" value="{{card.shopLocalization || ''}}"></ion-input>-->


<!--              <h2 class="ion-text-capitalize">{{card.shopLocalization}}</h2>-->

          </ion-col>
          <ion-col class="col-right">
            <div class="qrcodeImage" (click)="openDetailsOfCard(card.id)">
              <qrcode
                [qrdata]="card.barcode || 'dupa'"
                [allowEmptyString]="true"
                [cssClass]="'qrcode'"
                [colorDark]="'#0c0c0c'"
                [colorLight]="'#ffffff'"
                [elementType]="'svg'"
                [errorCorrectionLevel]="'M'"
                [margin]="2"
                [width]="75"
              ></qrcode>
            </div>
            <div>
              click me!
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>


      <!--      <ion-button class="ion-color-warning" (click)="openDetailsOfCard(card.id)">detailss</ion-button>-->

    </ion-card-content>
  </ion-card>


  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button size="small">
      <ion-icon name="chevron-up-circle"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button aria-label="Skanuj kartę" (click)="scan()">
        <ion-icon name="barcode-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button aria-label="Skanuj ze zdjęcia" (click)="readBarcodeFromImage()">
        <ion-icon name="image-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>


</ion-content>
