<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Moje karty
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="content-center">
  <ion-list content="full" class="cardStyle ion-margin" *ngFor="let card of cards">
    <ion-grid (click)="openDetailsOfCard(card.id)">
      <ion-row class="ion-justify-content-between">
        <ion-col size="8">
          <ion-row class="list-of-rows">
            <ion-col>
              <ion-text class="ion-text-uppercase heading">
                <strong>{{card.cardName}}</strong>
              </ion-text>
            </ion-col>
          </ion-row>
          <ion-row class="list-of-rows">
            <ion-col>
              <h5>
                <ion-label>
                  <ion-text color="medium">Kod kreskowy</ion-text>
                </ion-label>
                <br />
                <ion-text>
                  <strong class="nowrap-text">{{card.barcode}}</strong>
                </ion-text>
              </h5>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="card.objectLocalization.loc" class="list-of-rows">
            <ion-col>
              <h5>
                <ion-label>
                  <ion-text color="medium">Adres obiektu</ion-text>
                </ion-label>
                <br />
                <ion-text>
                  <strong class="ion-text-capitalize nowrap-text">{{card.objectLocalization.loc}}</strong>
                </ion-text>
              </h5>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col size="4" class="ion-justify-content-center ion-align-items-center" style="display: flex">
          <ion-row class="qrcodeImage">
            <qrcode [qrdata]="card.barcode || ''" [allowEmptyString]="true" [cssClass]="'qrcode'"
              [colorDark]="'#0c0c0c'" [colorLight]="'#ffffff'" [elementType]="'svg'" [errorCorrectionLevel]="'M'"
              [margin]="2" [width]="this.screenWidth / 4.5"></qrcode>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button size="small">
      <ion-icon name="chevron-up-circle"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button aria-label="scan using camera" (click)="scan()">
        <ion-icon name="barcode-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button aria-label="scan from image" (click)="readBarcodeFromImage()">
        <ion-icon name="image-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button aria-label="add manually" (click)="showAddCardForm()">
        <ion-icon name="add-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
