<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Ustawienia
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list-header>Wygląd</ion-list-header>
  <ion-list>
    <ion-item>
      <ion-toggle [checked]="darkMode" (ionChange)="toggleDarkMode()" justify="space-between">Tryb ciemny</ion-toggle>
    </ion-item>
  </ion-list>
  <ion-list-header>Ustawienia aparatu</ion-list-header>
  <ion-list>
    <form [formGroup]="formGroup">
      <ion-item>
        <ion-text lines="full">Formaty kodów kreskowych</ion-text>
        <ion-select
          (ionChange)="saveBarcodeFormats($event)"
          multiple="true"
          placeholder="Formaty"
          formControlName="formats"
          slot="end"
          okText="Zapisz"
          cancelText="Anuluj"
        >
          <ion-select-option [value]="barcodeFormat.Aztec">Aztec</ion-select-option>
          <ion-select-option [value]="barcodeFormat.Codabar">Codabar</ion-select-option>
          <ion-select-option [value]="barcodeFormat.Code39">Code39</ion-select-option>
          <ion-select-option [value]="barcodeFormat.Code93">Code93</ion-select-option>
          <ion-select-option [value]="barcodeFormat.Code128">Code128</ion-select-option>
          <ion-select-option [value]="barcodeFormat.DataMatrix">DataMatrix</ion-select-option>
          <ion-select-option [value]="barcodeFormat.Ean8">Ean8</ion-select-option>
          <ion-select-option [value]="barcodeFormat.Ean13">Ean13</ion-select-option>
          <ion-select-option [value]="barcodeFormat.Itf">Itf</ion-select-option>
          <ion-select-option [value]="barcodeFormat.Pdf417">Pdf417</ion-select-option>
          <ion-select-option [value]="barcodeFormat.QrCode">QrCode</ion-select-option>
          <ion-select-option [value]="barcodeFormat.UpcA">UpcA</ion-select-option>
          <ion-select-option [value]="barcodeFormat.UpcE">UpcE</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-text>Którym aparatem skanować karty</ion-text>
        <ion-select
          (ionChange)="saveLensFacing($event)"
          formControlName="lensFacing"
          slot="end"
          okText="Zapisz"
          cancelText="Anuluj"
        >
          <ion-select-option [value]="lensFacing.Front">Przednim</ion-select-option>
          <ion-select-option [value]="lensFacing.Back">Tylnim</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-button expand="block" (click)="openSettings()" [disabled]="!isSupported">Open Settings</ion-button>
      <ion-button expand="block" (click)="requestPermissions()" [disabled]="isPermissionGranted">Request Permissions
      </ion-button>
    </form>
  </ion-list>


</ion-content>
